<!--
  Authors:   Matt McFarlane, Zach Post
  Date:      10/19/2022
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and McFarlane/Post - This work may not be copied for use in Academic Coursework.

  I, Matt McFarlane, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.
  I, Zach Post, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

    Application list viewable by professors and admins that pulls information from the DB
-->
@model PS6TAApplication.Models.Application

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentDegree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentDegree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UofUGPA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UofUGPA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoursRequested)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoursRequested)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvailableWeekBefore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvailableWeekBefore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SemestersCompleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SemestersCompleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransferSchool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransferSchool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkedInURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkedInURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResumeFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResumeFileName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="List">Back to List</a>
    </form>
</div>
